.banner .inner_banner .right_banner .img_1_right_banner {
  width: 230px;
  height: 370px;
}

.banner .inner_banner .right_banner .img_1_right_banner img {
  width: 220px;
  height: 370px;
}

.banner .inner_banner .right_banner .img_2_right_banner {
  width: 220px;
  height: 220px;
}

.banner .inner_banner .right_banner .img_4_right_banner {
  width: 220px;
  height: 220px;
}

.banner .inner_banner .right_banner .img_4_right_banner img {
  width: 220px;
  height: 220px;
}

.banner .inner_banner .right_banner .img_3_right_banner {
  width: 230px;
  height: 370px;
}

.banner .inner_banner .right_banner .img_3_right_banner img {
  width: 220px;
  height: 370px;
}

.patnership .patnership_images img {
  width: 170px;
}
